body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* > * {
  background: #202124;
  color: white;
}

div[class^="makeStyles-paper-"] {
  background: #202124 !important;
}

div[role="presentation"] {
  background: transparent !important;
}

.makeStyles-paper-1 {
  background: #202124 !important;
}

.button-green {
  background: green !important;
}

.button-green > *{
  background: green !important;
}