.sideBar {
    width: 15%;
    height: 10vh;
    margin-right: 5px;
}

.hr {
    background-color: rgb(197, 197, 197);
}
.sideBar__itemsContainer {
    /* padding-left: 15px; */
}

.sideBar__itemsContainer > .sideBarItem {
    cursor: pointer;
    padding-left: 15px;
}